<div class="page-container">
	<div class="container">
		<div class="page-heading">
			<h1>Contact Us</h1>
			<p>Get in touch - we're here to help</p>
		</div>
		<div class="contact-wrapper">
			<div class="contact-form">
				<app-alert [alertDetails]="alertDetails"></app-alert>
				<form (ngSubmit)="submit()" [formGroup]="contactForm">
					<div class="form-group">
						<label class="form-label" for="name">Name*</label>
						<input
							class="form-input"
							formControlName="name"
							id="name"
							type="text"
						/>
						<div
							*ngIf="(name.dirty || name.touched) && name.invalid"
							class="inline_error"
						>
							<span *ngIf="name.hasError('required')">
								Name is required
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="form-label" for="email">Email*</label>
						<input
							class="form-input"
							formControlName="email"
							id="email"
							type="text"
						/>
						<div
							*ngIf="
								(email.dirty || email.touched) && email.invalid
							"
							class="inline_error"
						>
							<span *ngIf="email.hasError('required')">
								Email is required
							</span>
							<span *ngIf="email.hasError('pattern')">
								Invalid email address
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="form-label" for="message">Message</label>
						<textarea
							class="form-input"
							cols="30"
							formControlName="message"
							id="message"
							name="message"
							rows="10"
						></textarea>
					</div>
					<button class="btn btn-primary">Submit</button>
				</form>
			</div>
			<div class="address">
				<section>
					<h2><app-icon name="pin" />Address</h2>
					<p>Plot no 123</p>
					<p>Electronic City</p>
					<p>Bangalore, India</p>
				</section>

				<section>
					<h2><app-icon name="call" />Contact</h2>
					<p>Mobile: (+91) 1234 123 456</p>
					<p>Office: (+91) 1234 123 456</p>
				</section>

				<section>
					<h2><app-icon name="email" />Email</h2>
					<p>support&#64;purilo.com</p>
				</section>

				<section class="support-social-icons">
					<a href="https://www.twitter.com" target="_blank">
						<app-icon name="twitter" class="contact-social-icon"/>
					</a>
					<a href="https://www.instagram.com" target="_blank">
						<app-icon name="instagram" class="contact-social-icon"/>
					</a>
					<a href="https://www.facebook.com" target="_blank">
						<app-icon name="facebook" class="contact-social-icon"/>
					</a>
				</section>
			</div>
		</div>
	</div>
</div>
