<header class="header">
	<nav>
		<div class="logo">
			<a href="#" routerLink="home">
				<img
					alt="Logo"
					src="assets/img/e-market/logo.png"
					class="logo"
				/>
			</a>
		</div>
		<div>
			<ul class="df nav-menu" id="nav-menu">
				<li>
					<a
						(click)="toggleMenu($event)"
						href="#"
						routerLink="home"
						routerLinkActive="active"
						>Home
					</a>
				</li>
				<li>
					<a
						(click)="toggleMenu($event)"
						href="#"
						routerLink="product/fruit"
						routerLinkActive="active"
						>Fruits
					</a>
				</li>
				<li>
					<a
						(click)="toggleMenu($event)"
						href="#"
						routerLink="product/vegetable"
						routerLinkActive="active"
					>
						Vegetables
					</a>
				</li>
				<li>
					<a
						(click)="toggleMenu($event)"
						href="#"
						routerLink="contact"
						routerLinkActive="active"
						>Contact Us
					</a>
				</li>
				<li>
					<a
						(click)="toggleMenu($event)"
						href="#"
						routerLink="blog"
						routerLinkActive="active"
						>Blog
					</a>
				</li>
			</ul>
		</div>
		<div>
			<ul class="df menu-icon">
				<li>
					<a href="#" (click)="navigateToPage($event)">
						<app-icon name="user" />
            @if (isLoggedIn()) {
              <span>Hi!, {{getFullName()}}</span>
            }
					</a>
				</li>
				<li>
					<a href="#" routerLink="checkout">
						<app-icon name="cart" />
						<span *ngIf="hasItems()" class="badge">{{
							numberOfItems
						}}</span>
					</a>
				</li>
        @if(isLoggedIn()) {
          <li>
            <a href="#" routerLink="checkout" (click)="signOut($event)">
						  <app-icon name="logout" />
					  </a>
          </li>
        }
			</ul>
		</div>

		<div class="hamburger">
			<a (click)="toggleMenu($event)" href="#">
				<app-icon name="menu" />
			</a>
		</div>
	</nav>
</header>

<app-modal modalHeader="Login to your account">
  <app-sign-in (loginSuccess)="handleLoginSuccess($event)"></app-sign-in>
</app-modal>
