<div class="modal-container" id="modal-popup">
	<div class="modal">
		<div class="modal-header">
			<h1>{{ modalHeader() }}</h1>
			<a (click)="closeModal($event)">
				<app-icon name="close"></app-icon>
			</a>
		</div>
		<div class="modal-body">
			<ng-content></ng-content>
		</div>
		<div class="modal-footer">
			<div class="button-container" [class.jc-right]="applyClass()">
				<button
					class="btn btn-secondary"
					*ngIf="isSecondaryButtonVisible"
				>
					{{ secondaryButtonText }}
				</button>
				<button
					class="btn btn-primary"
					*ngIf="isPrimaryButtonVisible"
					(click)="emitValue($event)"
				>
					{{ primaryButtonText }}
				</button>
			</div>
		</div>
	</div>
</div>
