@import "../styles/default";

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
	transform: translateY(-200%);
	transition: all 0.01s ease;
  z-index: 1000;
  padding: 2rem;
}

.modal-container.open {
	transform: translateY(0);
}

.modal-container.open .modal {
	transform: translateY(0);
}

.modal {
	position: absolute;
  max-width: 520px;
	width: 100%;
  max-height: calc(100dvh - 4em);
	border-radius: 20px;
	background: #ffffff;
	transform: translateY(-200%);
	transition: all 0.2s ease 0.2s;
  margin: auto;
  position: relative;
}

.modal .modal-header {
	padding: 12px 24px;
	border-bottom: 1px solid $border-clr;
	display: flex;
	justify-content: space-between;
	align-items: center;

  a {
    cursor: pointer;
  }

  h1 {
    color: $gray-500;
    font-size: 1.5rem;
  }
}

.modal .modal-body {
	padding: 12px 24px;
}

@media screen and (max-width: 900px) {
	.modal .button-container {
		flex-direction: column-reverse;
	}

	.modal-container.open .modal {
		left: 0;
		margin: 1em;
	}

	.modal {
		width: 90%;
	}
}
