@import "../../../styles/default";

.btn-wrapper {
	display: flex;
	gap: 1.5rem;
	margin-bottom: 2rem;

	button {
		width: 100%;
	}

	.btn-outline {
		border: 1px solid $gray-300;
		background: transparent;
		color: $gray-500;
	}
}

.footer {
	padding-block: 1.5rem;
	border-top: 1px solid $gray-200;
	text-align: center;
	color: $gray-500;

  a {
    color: $primary-clr;
    font-weight: 500;
    text-decoration: underline;
  }
}
