<div class="login-page">
	<div>
		<app-alert [alertDetails]="alert"></app-alert>
		<div *ngIf="!isSignUp">
			<form (ngSubmit)="login()" [formGroup]="signInForm">
				<app-input
					[form]="signInForm"
					fieldName="email"
					formControlName="email"
					id="email"
					label="Email"
				></app-input>
				<app-input
					[form]="signInForm"
					fieldName="password"
					formControlName="password"
					id="password"
					label="Password"
					type="password"
				></app-input>
				<div class="btn-wrapper">
					<button
						class="btn btn-outline"
						(click)="closeModal($event)"
					>
						Cancel
					</button>
					<button class="btn btn-primary">Login</button>
				</div>
			</form>
			<div class="footer">
				Don't have an account?
				<a href="#" (click)="activateTab($event, 'signup')"
					>Sign up here</a
				>
			</div>
		</div>

		<div *ngIf="isSignUp">
			<form (ngSubmit)="signUp()" [formGroup]="signUpForm">
				<div class="form-horizontal">
					<app-input
						[form]="signUpForm"
						fieldName="firstName"
						formControlName="firstName"
						id="firstName"
						label="First Name"
					></app-input>
					<app-input
						[form]="signUpForm"
						fieldName="lastName"
						formControlName="lastName"
						id="lastName"
						label="Last Name"
					></app-input>
				</div>

				<app-input
					[form]="signUpForm"
					fieldName="email"
					formControlName="email"
					id="emailId"
					label="Email"
				></app-input>
				<app-input
					[form]="signUpForm"
					fieldName="password"
					formControlName="password"
					id="password"
					label="Password"
					type="password"
				></app-input>
				<div class="btn-wrapper">
					<button
						class="btn btn-outline"
						(click)="closeModal($event)"
					>
						Cancel
					</button>
					<button class="btn btn-primary">Sign Up</button>
				</div>
			</form>
			<div class="footer">
				Already have an account?
				<a href="#" (click)="activateTab($event, 'login')"
					>Login here</a
				>
			</div>
		</div>
	</div>
</div>
