<app-spinner *ngIf="isLoading"></app-spinner>
<div class="page-container">
	<div class="container">
		<div class="header-container">
			<h1>{{ pageHeading }}</h1>
			@if (itemType == 'fruit') {
			<p class="subtitle">
				Sweet, juicy and packed with vitamins - explore our premium
				selection of fresh fruits
			</p>
			} @else {
			<p class="subtitle">
				Crisp, nutritious, and full of flavor - discover our farm fresh
				vegetables.
			</p>
			}
		</div>
		<div class="search-input-wrapper">
      <app-icon name="search" />
			<input
				aria-label="Search"
				id="search-input"
				name="search"
				type="search"
        class="search-input"
				placeholder="Search"
				(keyup)="search()"
				[(ngModel)]="searchTerm"
			/>
		</div>
		<div class="product-card-wrapper product-card-lg">
			@for (product of filteredProducts; track $index) {
			<div class="product-card">
				<img [src]="product.imageUrl" alt="" />
				<div class="product-info">
					<h3 class="product-title">{{ product.name }}</h3>
					<span
						>{{ product.cost | currency : "INR" }} /
						{{ product.unit }}</span
					>
					<button
						(click)="addToCart($event, product)"
						class="btn btn-primary btn-icon card-btn"
					>
						<app-icon name="cart" />
						Add to Cart
					</button>
				</div>
			</div>
			}
		</div>

		<div class="product-card-sm">
			<div *ngFor="let product of filteredProducts" class="product">
				<div class="product-image">
					<img [src]="product.imageUrl" [alt]="product.name" />
				</div>
				<div class="product-details-wrapper-sm">
					<div class="product-details">
						<span>{{ product.name }}</span>
						<span
							>{{ product.cost | currency : "INR" }} /
							{{ product.unit }}</span
						>
					</div>
					<div>
						<button (click)="openAdd(product)" class="cart-btn">
							<app-icon name="cart" />
						</button>
					</div>
				</div>
			</div>

			<div class="add-to-cart">
				<div class="quantity-container">
					<div class="quantity-wrapper">
						<p>{{ item.name }}</p>
						<div class="quantity">
							<a href="#" (click)="removeQuantity($event, item)">
								<app-icon name="minus" />
							</a>
							<input
								id="quantity"
								name="quantity"
								type="text"
								aria-label="Quantity"
								[(ngModel)]="item.quantity"
							/>
							<a href="#" (click)="addQuantity($event, item)">
								<app-icon name="add" />
							</a>
						</div>
					</div>

					<button
						class="btn-cart btn-add"
						(click)="addToCart($event, item)"
					>
						ADD TO CART
					</button>
					<button class="btn-cart btn-cancel" (click)="cancelAdd()">
						CANCEL
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
