<div class="page-container">
  <section class="confirmation-page">
  <div class="confirmation-card">
    <div class="df jc-center"><app-icon name="check-circle"></app-icon></div>
    <h1>Order Successful</h1>
    <p class="order-message">Your order was placed successfully!</p>
    <p class="order-messag">Order Id: POS123456</p>

    <div class="actions">
      <button class="btn btn-primary" routerLink="home">Continue Shopping</button>
      <!-- <button class="btn btn-secondary">View Order Details</button> -->
    </div>
  </div>
</section>

</div>
