<div class="page-container">
	<div class="container">
		<div class="header-container">
			<h1>Account Information</h1>
			<p class="subtitle">
				Review your personal information, orders and addresses
			</p>
		</div>
		<section class="profile-container">
			<div class="profile-wrapper">
				<div class="profile">
					<div class="profile-picture">
						<app-icon name="user"></app-icon>
					</div>
					<div>
						<h3>
							{{ loggedInUser.firstName }}
							{{ loggedInUser.lastName }}
						</h3>
						<p>{{ loggedInUser.email }}</p>
					</div>
				</div>
				<div class="profile-items">
					<ul>
						<li [class.active]="tab == 'orders'">
							<app-icon name="truck"></app-icon>
							<a href="#" (click)="changeTab($event, 'orders')"
								>My Orders</a
							>
						</li>
						<li [class.active]="tab == 'address'">
							<app-icon name="address"></app-icon>
							<a href="#" (click)="changeTab($event, 'address')"
								>Addresses</a
							>
						</li>
					</ul>
				</div>
			</div>
			<section class="order-wrapper">
				@if (tab == 'orders') {
				<div>
					<h2>Order History</h2>
					<p class="subtext">Track and view past orders</p>

          @if (orders.length > 0) {
          <app-order [orders]="orders"></app-order>
          } @else {

          }
				</div>
				} @else if (tab == 'address') {
        <div>
          <h2>Address</h2>
          <p class="subtext">View, edit or add a new address</p>
          <app-address [userAddress]="userAddress"></app-address>
        </div>
				}
			</section>
		</section>
	</div>
	<div></div>
</div>
