<div class="page-container">
	<div class="container">
		<!-- <h1 class="page-heading">Checkout</h1> -->

		<app-alert [alertDetails]="alert"></app-alert>

		<section class="side-layout-flex">
			@switch (pageName) { @case ('cart') {
			<app-cart class="side-left"></app-cart>
			} @case('shipping') {
			<app-shipping
				class="side-left"
				[form]="shippingForm"
				[states]="states"
			></app-shipping>
			} @case ('payment') {
			<app-payment class="side-left"></app-payment>
			}} @if (products.length > 0) {
			<app-order-summary [pageName]="'cart'"></app-order-summary>
			}
		</section>
	</div>
</div>
