<div class="page-container">
	<div class="container">
		@if (products().length > 0) {
		<div class="header-container">
			<h1>{{ getHeading() }}</h1>
			<p class="subtitle">{{ getSubText() }}</p>
		</div>
		}
		<section class="side-layout-flex">
			@switch (pageName()) { @case ('cart') {
			<app-cart class="side-left"></app-cart>
			} @case('shipping') {
			<app-shipping
				class="side-left"
				[form]="shippingForm"
				[states]="states"
			></app-shipping>
			} @case ('payment') {
			<app-payment class="side-left"></app-payment>
			}} @if (isShowOrderSummary()) {
			<app-order-summary></app-order-summary>
			}
		</section>
	</div>
</div>
